
footer {
    @include fond_sombre;
    justify-content: left;
    padding-bottom: 20px;
  }
    
    ul {
      list-style-type: none;
  
      li {
        padding: 5px 0 5px 0;
  
        a {
          color: white;
        }

        & .logo-text{
          font-family: "Shrikhand", "sans-serif";
          text-transform: none;
          height: auto;
          color: white;
          font-size: 15px;
        }
      }
    }
  
  .fa-utensils {
    margin-right: 5px;
  }
  .fa-hands-helping {
    margin-right: 5px;
  }

  li {
    font-family: 'Roboto', sans-serif;
}