@import "tabdesk";
@import "variables";
@import "mixins";
@import "header";
@import "footer";
@import "page_resto";



/*Loader*/

.loading{
  animation: loader 1s ease-in-out 3s forwards;
  position: fixed;
  pointer-events: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
  }
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  animation: spin 2s linear infinite; 
  animation: spin 2s linear infinite; 
  z-index: 1001;
}

h1 {
  color: #EEEEEE;
}

  #loader:before {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      right: 5px;
      bottom: 5px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $color-primary;

      animation: spin 3s linear infinite; 
      animation: spin 3s linear infinite; 
  }

  #loader:after {
      content: "";
      position: absolute;
      top: 15px;
      left: 15px;
      right: 15px;
      bottom: 15px;
      border-radius: 50%;
      border: 3px solid transparent;
      border-top-color: $color-tertiary;

      animation: spin 1.5s linear infinite; 
      animation: spin 1.5s linear infinite; 
  }

  @keyframes spin {
      0%   { 
          transform: rotate(0deg);  
          transform: rotate(0deg);  
          transform: rotate(0deg);  
      }
      100% {
          transform: rotate(360deg);  
          transform: rotate(360deg);  
          transform: rotate(360deg);  
      }
  }
  @keyframes spin {
      0%   { 
          transform: rotate(0deg);  
          transform: rotate(0deg);  
          transform: rotate(0deg);  
      }
      100% {
          transform: rotate(360deg);  
          transform: rotate(360deg);  
          transform: rotate(360deg);  
      }
  }

 #loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222222;
    z-index: 1000;
}

#loader-wrapper{
  
  transition-property:all;
    transition-duration: 1s;
    transition-delay: 2s;
    /*animation: loader-page 2.5s ease-in-out forwards;*/
}

#loading-text {
  margin: 0 auto;
  width: 100%;
}



/*body*/

.loaded{
  z-index: 9998;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size:15px
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'Roboto', sans-serif;
}

h4 {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: white; 
   
}

a {
    text-decoration: none;
    color:black;
    
  }
  
  li {
    list-style-type: none;
  }

  

  /* Page principale */ 

  .barre{
    background: #eaeaea;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .barre_recherche{
        box-shadow: inset 0px 5px 5px 0px #dddddd;
        margin-left: 10px;
        
    }
      input{
        background: #eaeaea;
        border-color:#eaeaea;;
        border-style: none;
        margin-left: 10px;
        
    }
  }

  .introduction {
    background-color: #eeeeee;
    padding: 10px 10px 40px 10px;
    h2 {
      font-weight: bolder;
      text-align: center;
    }
    p {
      text-align: center;
      color: #4d4d4d;
    }
  }

  .center_btn{
    text-align: center;
  }
  .btn_explorer{ /*revoir class pour mieux styliser/center*/

    background: linear-gradient(-50deg ,$color-primary, $color-secondary);
      color:white;
      padding: 15px;
      width: 230px;
      border-radius: 25px 25px 25px 25px;
      border-color: ghostwhite;
      box-shadow: 4px 1px 6px ghostwhite;
  }


  /*Fonctionnement*/

  .fonction {
    margin-bottom: 50px;
  }
  .fonction h2 {
    padding: 20px;
  }
  @media screen and (min-width: 1440px) {
    .fonction h2 {
      text-align: center;
    }
  }
  .fonction__etape {
    list-style-type: none;
    padding: 3px;
    margin-left: 10%;
  }
  
  .fonction__etape li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 15px 20px 15px 0px;
    border-radius: 20px;
    box-shadow: 1px 2px 8px 2px #c4c4c4;
    background-color: whitesmoke;
  }
  .fonction__etape li p {
    font-weight: 500;
    margin-left: 20px;
  }
  .fonction__etape li:hover {
    background: #f2eafb;
  }
  .fonction__etape li:hover .fas {
    color: $color-primary;
  }
  .fonction__etape--num {
    background-color: $color-primary;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    margin-left: 40px;
  }


  /*--Restaurants*/



h2 {
  font-family: 'Roboto', sans-serif;
}

h3{
font-weight: lighter;
text-transform: uppercase ;
}
.restaurant {
  background-color: gainsboro;
  padding: 30px 5px 30px 5px;
 h2{
   padding-left: 10px;
 }
}

.block__resto {
  background-color: white;
  border-radius: 25px 25px 25px 25px; 
  height: 225px;
  margin: 10px;
  line-height: 0px;
  padding: 0,2px;


  .lieu_coeur {
    display: flex;
    justify-content: space-between;
  }

  .coeur{
    padding-right: 10px;
  }

  p {
    font-size: 16px;
    margin-left: 10px;
  }
  h4 {
    margin-left: 10px;
  }

  img{
    height: 150px;
    width: 368px;
    object-fit: cover ;
    border-radius: 25px 25px 0px 0px;
    margin: 0px;
    
  }

  .lieu_restaurant{
    font-weight: 100;
  }
   
}
  
  /*autre*/
.fa-mobile-alt{
      margin-left: 20px;
  }

.fa-list{
    margin-left: 20px;
}

.fa-store{
    margin-left: 20px;
}

.lieu_restaurant {
    display: fex;
}
.fa-map-marker-alt {
    color: grey;
    
}

.fa-utensils{
    color: white;
}

.fa-hands-helping{
    color: white;
}

.block__resto a .fa-heart:hover {
color: $color-primary;
}


.fa-heart {
  font-size: 25px;
  margin-right: 10px;
  
}

.new-1{
  
  position: relative;
  background-color: #3498db;
  width: 50px;
  padding: 4%;
  position: absolute;
  z-index: 9999;
  right: 30px;
  background-color: $color-tertiary;
  color: #3d796a;
  padding-left: 15px;
  padding-right: 30px;
  animation: new 1s ease-in-out 3s forwards;
  pointer-events: none;


}

.new-2{
  

  padding: 4%;
  position: absolute;
  z-index: 9999;
  
  right: 30px;
  background-color: $color-tertiary;
  color: #3d796a;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 80px;
  animation: new 1s ease-in-out 3s forwards;
  pointer-events: none;
}

.new-3{
  display: none;
}


@keyframes new {
  0% {
    opacity: 0;
  }
  
  100% {
    opacity: 1;
  }
}