@media (min-width: 1920px) /*desk 15*/
    {
        body{
            margin: 3%;
            size: 120%;
        }

        .head-accueil .logo img
        {
            padding-left: 1px!important;
            height: auto;
            width: 280px;
        }
        
        .barre input {
            background: #eaeaea;
            border-color: #eaeaea;
            border-style: none;
            margin-left: 10px;
            width: 150px;
            height: 50px;
        }

        .introduction {
            background-color: #eeeeee;
            padding: 10px 10px 40px 40px!important;

            h2 {
              font-weight: bolder;
              text-align: center;
            }
            p {
              text-align: center;
              color: #4d4d4d;
            }
        }

        .fonction__etape {
            display: flex!important;
            li{
                width: 500px!important;
                margin-right: 50px!important;
            }
        }

        .flex{
            margin-left:10%;
        }
    }
 @media (min-width: 1324px) /*desk 15*/
    {
        body{
            width: auto;
            justify-content: center;
        }

        .head-accueil{
            width: auto;
            margin-left: 43%!important;
        }

        .head{
            display: flex;
            justify-content: space-between;
            max-width: 255px;
            h1{
            margin-left: 200%!important;
            }
        }

        .barre {
            background: #eaeaea;
            height: 50px;
            padding-left:0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .introduction {
            background-color: #eeeeee;
            padding: 10px 10px 40px 10px;
            padding-left: 0%!important;
        }
        
        .logo img{
            width: 160px;
            height: auto;
            margin: 0%;
            padding-left: 0%;
        }  
        

        .fonction__etape li{
            width: 330px;
        }

        .flex{
            display: flex;
        }

        .block__resto {

            background-color: white;
            border-radius: 25px 25px 25px 25px; 
            width: 600px!important;
            height: 505px!important;
            margin: 10px 50px!important;
            line-height: 0px;
            padding: 0,2px;
            justify-content: space-between;
            



            .lieu_coeur {
            display: flex;
            justify-content: space-between;
            }

            .coeur{
            padding-right: 10px;
            }

            p {
            font-size: 16px;
            margin-left: 10px;
            }
            h4 {
            margin-left: 10px;
            }

            img{
            height: 419px!important;
            width: 600px!important;
            object-fit: cover ;
            border-radius: 25px 25px 0px 0px;
            margin: 0px;
            
            }
        
        }

        .flex-desk{
            display: flex;
        }

        .menu__titre{
                display: block;
                font-size: 1.5em;
                margin-block-start: 0px;
                margin-block-end: 0px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                height: 130px;
            
        }

        .plats_nom {
            background-color: white;
            padding: 1px 10px 1px 5px;
            margin: 5px;
            height: 100px!important;
            width: 1495px!important;
            line-height: 40px;
            text-indent: 10px;
            border-radius: 25px 25px 25px 25px;
    
            h4{
                font-size: 120%;
            }
            
            p{
                font-size: 120%;
            }
          }
    
          .btn__commander{
              width: 750px;
              margin: 50px 400px 50px 120px!important;
          }
    
          .check{
            transition: ease-in 0.5s;
            position: absolute;
            opacity: 0;
            justify-items: right;
            margin-left: 290px;
            justify-content: center;
            background-color: #99E2D0;
            padding: 1px 7px 1px 7px;
            margin: 5px 0px 0px 1325px!important;
            border-radius: 0px 25px 25px 0px;
            width: 60px!important;
            height: 100px!important;
            opacity: 0;
            transition: transform 330ms ease-in-out;
          }
    
          .animation_check:hover .plats_nom {
            width: 1305px!important;
            border-radius: 25px 0px 0px 25px;
            transition: 0.5s ease-in;
            
          }

        .enchantee {
            background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
            background-size: 1424px!important;
           
          }
    
          .francaise{
            background-size: 1424px!important;
          }
    
          .palette{
            background-size: 1424px!important;
          }
    
          .delice{
            background-size: 1424px!important;
          }
        
}

@media (max-width: 375px) /*mobile*/
{

    body{
        margin: 8px;
        width: auto;
    }

    .head-accueil {
        width: 360px!important;
        margin-left: 60px;
    }

     .content{
       
     }
    .block_img img{
        width: 329px!important;
    }

    h2 {
    
        font-size: 25px!important;
    }

    header {
        display: flex;
        justify-content: space-between;
        max-width: 175px!important;

        .fa-arrow-left{
            margin-right: 0px!important;
        }

        h1{
            margin-left: 80px;
        }

    }

    p{
        font-size: 12px!important;
    }

    .check {
        transition: ease-in .5s;;
        position: absolute;
        opacity: 0;
        background-color: #99E2D0;
        padding: 1px 7px 1px 10px;
        margin: 5px 0px 0px 273px!important;
        border-radius: 0px 25px 25px 0px;
        width: 35px;
        height: 75px;
        
        }

        .fa-check-circle {
            height: 50px;
            color: white;
            line-height: 75px;
            text-indent: 10px;
            text-align: center;
            vertical-align: middle;
            animation-name: rotate;
            animation-duration: 10s;
          }
  
}

@media (min-width: 768px) and (max-width: 1024px) /*tab*/
{

        /*accueil*/
    .head-accueil{
        
        width: 400px;
        margin-left: 70px!important;
    }

    .logo img{
        width: 160px;
        height: auto;
        margin-left: 150px!important;
        margin: 7%!important;
        padding-left: 50%!important;
    }  
    
    /* header pour les pages restaurants*/
    .head{
        display: flex;
        justify-content: space-between;
        max-width: 255px;
        h1{
        margin-left: 70%!important;
        }
    }
    .arrow{
        margin-top: 15px;
    }
    .fa-arrow-left{
        width:  auto;
        height: auto;
        padding: 9%;
        font-size: 22px;
        margin-right: 100px;
        

    }
    .head h1{
        font: 'Shrikhand', cursive;
    }
    
    .head img{
        width: 160px;
        height:auto;
        
    
    } 

    .fonction__etape {
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      
      li{
          width: 300px;

          p {
            justify-content: center;
          }
      }
    }

    .flex{
        display: flex;
        margin: 5%;
    }

    .restaurant{
        max-width: 750px;
        height: auto;
    }
    .block__resto {

        background-color: white;
        border-radius: 25px 25px 25px 25px; 
        width: 300px;
        height: 95px;
        margin: 10px;
        line-height: 0px;
        padding: 0,2px;
    }

    .block__resto img {
        height: 150px;
        max-width: 300px;
        object-fit: cover;
        border-radius: 25px 25px 0px 0px;
        margin: 0px;
    }
     
    .new-2{
  
        display:none;
        padding: 4%;
        position: absolute;
        z-index: 9999;
        
        right: 30px;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 11000px;
        animation: none;
      }

      


      .item {
        width: 750px;
      }

      .plats_nom {
        background-color: white;
        padding: 1px 10px 1px 5px;
        margin: 5px;
        height: 100px!important;
        width: 705px!important;
        line-height: 40px;
        text-indent: 10px;
        border-radius: 25px 25px 25px 25px;

        h4{
            font-size: 120%;
        }
        
        p{
            font-size: 120%;
        }
      }

      .btn__commander{
          width: 750px;
          margin: 50px 0px 50px 0px!important;
      }

      .check{
        transition: ease-in 0.5s;
        position: absolute;
        opacity: 0;
        justify-items: right;
        margin-left: 290px;
        justify-content: center;
        background-color: #99E2D0;
        padding: 1px 7px 1px 7px;
        margin: 5px 0px 0px 653px!important;
        border-radius: 0px 25px 25px 0px;
        width: 60px!important;
        height: 100px!important;
        opacity: 0;
        transition: transform 330ms ease-in-out;
      }

      .animation_check:hover .plats_nom {
        width: 633px!important;
        border-radius: 25px 0px 0px 25px;
        transition: 0.5s ease-in;
        
      }

      .enchantee {
        background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
        background-size: 800px!important;
        padding: 265px 0px 0px 0px;
        border-radius: 0px;
        object-fit:contain;
        margin-top: 10px;
      }

      .francaise{
        background-size: 800px!important;
      }

      .palette{
        background-size: 800px!important;
      }

      .delice{
        background-size: 800px!important;
      }
}



