@charset "UTF-8";
@media (min-width: 1900px) {
  body {
    margin-left: 3%;
    margin-right: 3%;
  }

  .head-accueil .logo img {
    padding-left: 1px !important;
    margin-left: 800px !important;
    height: auto;
    width: 280px;
  }

  .logo img {
    margin-left: 100%;
  }

  .barre input {
    background: #eaeaea;
    border-color: #eaeaea;
    border-style: none;
    margin-left: 10px;
    width: 150px;
    height: 50px;
  }

  .introduction {
    background-color: #eeeeee;
    padding: 10px 10px 40px 40px !important;
  }
  .introduction h2 {
    font-weight: bolder;
    text-align: center;
  }
  .introduction p {
    text-align: center;
    color: #4d4d4d;
  }

  .block__resto {
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    width: 600px !important;
    height: 505px !important;
    margin: 10px 50px !important;
    line-height: 0px;
    padding: 2px;
    justify-content: space-between;
  }
  .block__resto .lieu_coeur {
    display: flex;
    justify-content: space-between;
  }
  .block__resto .coeur {
    padding-right: 10px;
  }
  .block__resto p {
    font-size: 16px;
    margin-left: 10px;
  }
  .block__resto h4 {
    margin-left: 10px;
  }
  .block__resto img {
    height: 419px !important;
    width: 600px !important;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin: 0px;
  }

  .flex {
    display: flex;
  }

  .arrow {
    margin-right: 290%;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.8em;
    margin-block-end: 0.8em;
    margin-inline-start: 0.8em;
    margin-inline-end: 0.8em;
    font-weight: bold;
    line-height: 15px !important;
    height: 15px !important;
  }

  .fa-heart {
    margin: 30px 50px 0px 0px !important;
  }

  .menu__titre {
    height: 105px !important;
  }

  .plats_nom {
    background-color: white;
    padding: 1px 10px 1px 5px;
    margin: 5px;
    height: 100px !important;
    width: 1920px !important;
    line-height: 40px;
    text-indent: 10px;
    border-radius: 25px 25px 25px 25px;
  }
  .plats_nom h4 {
    font-size: 120%;
  }
  .plats_nom p {
    font-size: 120%;
  }

  .btn__commander {
    width: 750px;
    margin: 50px 400px 50px 120px !important;
  }

  .check {
    transition: ease-in 0.5s;
    position: absolute;
    opacity: 0;
    justify-items: right;
    margin-left: 290px;
    justify-content: center;
    background-color: #99E2D0;
    padding: 1px 7px 1px 7px;
    margin: 5px 0px 0px 1700px !important;
    border-radius: 0px 25px 25px 0px;
    width: 60px !important;
    height: 100px !important;
    opacity: 0;
    transition: transform 330ms ease-in-out;
  }

  .animation_check:hover .plats_nom {
    width: 1680px !important;
    border-radius: 25px 0px 0px 25px;
    transition: 0.5s ease-in;
  }

  .fonction__etape {
    display: flex !important;
  }
  .fonction__etape li {
    width: 500px !important;
    margin-right: 50px !important;
  }

  .flex {
    margin-left: 10%;
  }

  .fa-check-circle {
    font-size: 50px !important;
    color: white;
    line-height: 75px;
    text-indent: 10px;
    text-align: center;
    vertical-align: middle;
    margin-top: 15px;
  }

  .btn__commander {
    width: 750px;
    margin: 100px 400px 100px 520px !important;
  }

  .enchantee {
    background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 1924px !important;
  }

  .francaise {
    background-size: 1924px !important;
  }

  .palette {
    background-size: 1924px !important;
  }

  .delice {
    background-size: 1924px !important;
  }
}
/*  
 @media (min-width: 1300px) 
    {
        body{
            width: auto;
            justify-content: center;
        }


        h2 {
            display: block;
            font-size: 1.5em;
            margin-block-start: 1.8em;
            margin-block-end: 1.8em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            font-weight: bold;
            line-height: 15px!important;
        } 

        .head-accueil{
            width: auto;
            margin-left: 43%!important;
        }

        .head{
            display: flex;
            justify-content: space-between;
            max-width: 255px;
            h1{
            margin-left: 200%!important;
            }
        }

        .barre {
            background: #eaeaea;
            height: 50px;
            padding-left:0%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .introduction {
            background-color: #eeeeee;
            padding: 10px 10px 40px 10px;
            padding-left: 0%!important;
        }

        .logo img{
            width: 160px;
            height: auto;
            margin: 0%;
            padding-left: 0%;
        }  


        .fonction__etape li{
            width: 330px;
        }

        .flex{
            display: flex;
        }

        .block__resto {

            background-color: white;
            border-radius: 25px 25px 25px 25px; 
            width: 600px!important;
            height: 505px!important;
            margin: 10px 50px!important;
            line-height: 0px;
            padding: 2px;
            justify-content: space-between;




            .lieu_coeur {
            display: flex;
            justify-content: space-between;
            }

            .coeur{
            padding-right: 10px;
            }

            p {
            font-size: 16px;
            margin-left: 10px;
            }
            h4 {
            margin-left: 10px;
            }

            img{
            height: 419px!important;
            width: 600px!important;
            object-fit: cover ;
            border-radius: 25px 25px 0px 0px;
            margin: 0px;

            }

        }

        .flex-desk{
            display: flex;
        }

        .menu__titre{
                display: block;
                font-size: 1.5em;
                margin-block-start: 0px;
                margin-block-end: 0px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: bold;
                height: 130px;

        }

        .plats_nom {
            background-color: white;
            padding: 1px 10px 1px 5px;
            margin: 5px;
            height: 100px!important;
            width: 1895px!important;
            line-height: 40px;
            text-indent: 10px;
            border-radius: 25px 25px 25px 25px;

            h4{
                font-size: 120%;
            }

            p{
                font-size: 120%;
            }
          }

          .btn__commander{
              width: 750px;
              margin: 50px 400px 50px 120px!important;
          }

          .check{
            transition: ease-in 0.5s;
            position: absolute;
            opacity: 0;
            justify-items: right;
            margin-left: 290px;
            justify-content: center;
            background-color: #99E2D0;
            padding: 1px 10px 1px 10px;
            margin: 5px 0px 0px 1320px!important;
            border-radius: 0px 25px 25px 0px;
            width: 60px!important;
            height: 100px!important;
            opacity: 0;
            transition: transform 330ms ease-in-out;
          }

          .animation_check:hover .plats_nom {
            width: 1300px!important;
            border-radius: 25px 0px 0px 25px;
            transition: 0.5s ease-in;

          }

          .fa-check-circle {
            font-size: 50px!important;
            color: white;
            line-height: 75px;
            text-indent: 10px;
            text-align: center;
            vertical-align: middle;
            margin-top: 15px;
          }

        .enchantee {
            background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
            background-size: 1424px!important;

          }

          .francaise{
            background-size: 1424px!important;
          }

          .palette{
            background-size: 1424px!important;
          }

          .delice{
            background-size: 1424px!important;
          }



}
*/
@media (max-width: 375px) {
  body {
    margin: 8px;
    width: auto;
  }

  .head-accueil {
    width: 360px !important;
    margin-left: 60px;
  }

  .block_img img {
    width: 329px !important;
  }

  h2 {
    font-size: 25px !important;
  }

  header {
    display: flex;
    justify-content: space-between;
    max-width: 175px !important;
  }
  header .fa-arrow-left {
    margin-right: 0px !important;
  }
  header h1 {
    margin-left: 80px;
  }

  p {
    font-size: 12px !important;
  }

  .check {
    transition: ease-in 0.5s;
    position: absolute;
    opacity: 0;
    background-color: #99E2D0;
    padding: 1px 7px 1px 10px;
    margin: 5px 0px 0px 273px !important;
    border-radius: 0px 25px 25px 0px;
    width: 35px;
    height: 75px;
  }

  .fa-check-circle {
    height: 50px;
    color: white;
    line-height: 75px;
    text-indent: 10px;
    text-align: center;
    vertical-align: middle;
    animation-name: rotate;
    animation-duration: 10s;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  /*accueil*/
  .head-accueil {
    width: 400px;
    margin-left: 70px !important;
  }

  .logo img {
    width: 160px;
    height: auto;
    margin-left: 150px !important;
    margin: 7% !important;
    padding-left: 50% !important;
  }

  /* header pour les pages restaurants*/
  .head {
    display: flex;
    justify-content: space-between;
    max-width: 255px;
  }
  .head h1 {
    margin-left: 70% !important;
  }

  .arrow {
    margin-top: 15px;
  }

  .fa-arrow-left {
    width: auto;
    height: auto;
    padding: 9%;
    font-size: 22px;
    margin-right: 100px;
  }

  .head img {
    width: 160px;
    height: auto;
  }

  .fonction__etape {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .fonction__etape li {
    width: 300px;
  }
  .fonction__etape li p {
    justify-content: center;
  }

  .flex {
    display: flex;
    margin: 5%;
  }

  .restaurant {
    max-width: 750px;
    height: auto;
  }

  .block__resto {
    background-color: white;
    border-radius: 25px 25px 25px 25px;
    width: 300px;
    height: 95px;
    margin: 10px;
    line-height: 0px;
    padding: 2px;
  }

  .block__resto img {
    height: 150px;
    max-width: 300px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
    margin: 0px;
  }

  .new-2 {
    display: none;
    padding: 4%;
    position: absolute;
    z-index: 9999;
    right: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 11000px;
    animation: none;
  }

  .item {
    width: 750px;
  }

  .plats_nom {
    background-color: white;
    padding: 1px 10px 1px 5px;
    margin: 5px;
    height: 100px !important;
    width: 705px !important;
    line-height: 40px;
    text-indent: 10px;
    border-radius: 25px 25px 25px 25px;
  }
  .plats_nom h4 {
    font-size: 120%;
  }
  .plats_nom p {
    font-size: 120%;
  }

  .btn__commander {
    width: 750px;
    margin: 50px 0px 50px 0px !important;
  }

  .check {
    transition: ease-in 0.5s;
    position: absolute;
    opacity: 0;
    justify-items: right;
    margin-left: 290px;
    justify-content: center;
    background-color: #99E2D0;
    padding: 1px 7px 1px 7px;
    margin: 5px 0px 0px 653px !important;
    border-radius: 0px 25px 25px 0px;
    width: 60px !important;
    height: 100px !important;
    opacity: 0;
    transition: transform 330ms ease-in-out;
  }

  .animation_check:hover .plats_nom {
    width: 633px !important;
    border-radius: 25px 0px 0px 25px;
    transition: 0.5s ease-in;
  }

  .enchantee {
    background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-size: 800px !important;
    padding: 265px 0px 0px 0px;
    border-radius: 0px;
    object-fit: contain;
    margin-top: 10px;
  }

  .francaise {
    background-size: 800px !important;
  }

  .palette {
    background-size: 800px !important;
  }

  .delice {
    background-size: 800px !important;
  }
}
/*accueil*/
.head-accueil {
  width: 400px;
}

.logo img {
  width: 160px;
  height: auto;
  margin: 3%;
  padding-left: 27%;
}

/* header pour les pages restaurants*/
.head {
  display: flex;
  justify-content: space-between;
  max-width: 255px;
}

.arrow {
  margin-top: 15px;
}

.fa-arrow-left {
  width: auto;
  height: auto;
  padding: 9%;
  font-size: 22px;
  margin-right: 100px;
}

.head img {
  width: 160px;
  height: auto;
}

footer {
  background-color: #353535;
  justify-content: left;
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li a {
  color: white;
}
ul li .logo-text {
  font-family: "Shrikhand", "sans-serif";
  text-transform: none;
  height: auto;
  color: white;
  font-size: 15px;
}

.fa-utensils {
  margin-right: 5px;
}

.fa-hands-helping {
  margin-right: 5px;
}

li {
  font-family: "Roboto", sans-serif;
}

/*Page restaurant*/
p {
  font-size: 12px;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.line {
  width: 40px;
  border: 2px solid #99E2D0;
  margin-bottom: 10px;
}

.menu__titre {
  display: flex;
  justify-content: space-between;
}
.menu__titre h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 30px;
}
.menu__titre .fa-heart {
  margin: 7%;
  font-size: 20px;
}
.menu__titre .plats_titre {
  padding: 0px;
  margin: 0px;
}

.repas__titre {
  font-weight: bolder;
}

.main__menu {
  background-color: #e0dede;
  border-radius: 25px 25px 0px 0px;
  padding: 10px;
}

.animation_check {
  display: flex;
}

.plats_nom {
  background-color: white;
  padding: 1px 10px 1px 5px;
  margin: 5px;
  height: 75px;
  width: 355px;
  line-height: 1px;
  text-indent: 10px;
  border-radius: 25px 25px 25px 25px;
}

.check {
  transition: ease-in 0.5s;
  position: absolute;
  opacity: 0;
  justify-items: right;
  margin-left: 310px;
  justify-content: center;
  background-color: #99E2D0;
  padding: 1px 15px 1px 7px;
  margin: 5px 0px 0px 313px;
  border-radius: 0px 25px 25px 0px;
  width: 45px;
  height: 75px;
  opacity: 0;
  transition: transform 330ms ease-in-out;
}
.check .fa-check-circle {
  color: #fff;
  transition: transform 500ms ease-in-out;
}

.fa-check-circle {
  font-size: 30px;
  color: white;
  line-height: 75px;
  text-indent: 10px;
  text-align: center;
  vertical-align: middle;
}

.animation_check:hover .plats_nom {
  width: 295px;
  border-radius: 25px 0px 0px 25px;
  transition: 0.2s ease-in;
}
.animation_check:hover .plats_nom .long {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 21px;
  margin-top: 4px;
}

.animation_check:hover .check {
  opacity: 1;
  transition: ease 0.2s;
}
.animation_check:hover .check .fa-check-circle {
  transform: rotate(360deg);
}

.plats_composants {
  display: flex;
  justify-content: space-between;
}

/* rétrécir la case , "width"
z-index à faire sur .plats_nom (z-index= 2) ou jouer avec flexbox*/
/*
.checked {
    à cacher SOUS .plats_nom
    background à ne pas oublier 
    border
    font awesome "check"
    z-index à faire sur .checked (z-index= 1) ou jouer avec flexbox

}
*/
.btn__commander {
  text-align: center;
  margin: 30px 0px 30px 0px;
}

.btn__commander button {
  background: linear-gradient(-50deg, #9356DC, #FF79DA);
  background-blend-mode: lighten;
  color: white;
  width: 190px;
  padding: 15px;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 4px 4px 6px #000;
}

.entree {
  animation: fade_down2 3s ease-in-out;
}

.plats {
  animation: fade_down2 6s ease-in-out;
  margin-top: 15px;
}

.dessert {
  animation: fade_down2 9s ease-in-out;
  margin-top: 15px;
}

.btn__commander {
  animation: fade_down2 9s ease-in-out;
}

@keyframes fade_down2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.francaise {
  background-image: url("images/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 600px;
  padding: 265px 0px 0px 0px;
  border-radius: 0px;
  object-fit: contain;
  margin-top: 10px;
}

.delice {
  background-image: url("images/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 600px;
  padding: 265px 0px 0px 0px;
  border-radius: 0px;
  object-fit: contain;
  margin-top: 10px;
}

.enchantee {
  background-image: url("images/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 600px;
  padding: 265px 0px 0px 0px;
  border-radius: 0px;
  object-fit: contain;
  margin-top: 10px;
}

.palette {
  background-image: url("images/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 600px;
  padding: 265px 0px 0px 0px;
  border-radius: 0px;
  object-fit: contain;
  margin-top: 10px;
}

/*Loader*/
.loading {
  animation: loader 1s ease-in-out 3s forwards;
  position: fixed;
  pointer-events: none;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #FF79DA;
  animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

h1 {
  color: #EEEEEE;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #9356DC;
  animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #99E2D0;
  animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #222222;
  z-index: 1000;
}

#loader-wrapper {
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 2s;
  /*animation: loader-page 2.5s ease-in-out forwards;*/
}

#loading-text {
  margin: 0 auto;
  width: 100%;
}

/*body*/
.loaded {
  z-index: 9995;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-family: "Roboto", sans-serif;
}

h4 {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}

/* Page principale */
.barre {
  background: #eaeaea;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.barre .barre_recherche {
  box-shadow: inset 0px 5px 5px 0px #dddddd;
  margin-left: 10px;
}
.barre input {
  background: #eaeaea;
  border-color: #eaeaea;
  border-style: none;
  margin-left: 10px;
}

.introduction {
  background-color: #eeeeee;
  padding: 10px 10px 40px 10px;
}
.introduction h2 {
  font-weight: bolder;
  text-align: center;
}
.introduction p {
  text-align: center;
  color: #4d4d4d;
}

.center_btn {
  text-align: center;
}

.btn_explorer {
  /*revoir class pour mieux styliser/center*/
  background: linear-gradient(-50deg, #9356DC, #FF79DA);
  color: white;
  padding: 15px;
  width: 230px;
  border-radius: 25px 25px 25px 25px;
  border-color: ghostwhite;
  box-shadow: 4px 1px 6px ghostwhite;
}

/*Fonctionnement*/
.fonction {
  margin-bottom: 50px;
}

.fonction h2 {
  padding: 20px;
}

@media screen and (min-width: 1440px) {
  .fonction h2 {
    text-align: center;
  }
}
.fonction__etape {
  list-style-type: none;
  padding: 3px;
  margin-left: 5%;
}

.fonction__etape li {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 15px 20px 15px 0px;
  border-radius: 20px;
  box-shadow: 1px 2px 8px 2px #c4c4c4;
  background-color: whitesmoke;
}

.fonction__etape li p {
  font-weight: 500;
  margin-left: 20px;
}

.fonction__etape li:hover {
  background: #f2eafb;
}

.fonction__etape li:hover .fas {
  color: #9356DC;
}

.fonction__etape--num {
  background-color: #9356DC;
  color: white;
  border-radius: 50%;
  padding: 5px 9px;
  margin-left: 40px;
}

/*--Restaurants*/
h2 {
  font-family: "Roboto", sans-serif;
}

h3 {
  font-weight: lighter;
  text-transform: uppercase;
}

.restaurant {
  background-color: gainsboro;
  padding: 30px 5px 30px 5px;
}
.restaurant h2 {
  padding-left: 10px;
}

.block__resto {
  background-color: white;
  border-radius: 25px 25px 25px 25px;
  height: 225px;
  margin: 10px;
  line-height: 0px;
  padding: 0, 2px;
}
.block__resto .lieu_coeur {
  display: flex;
  justify-content: space-between;
}
.block__resto .coeur {
  padding-right: 10px;
}
.block__resto p {
  font-size: 16px;
  margin-left: 10px;
}
.block__resto h4 {
  margin-left: 10px;
}
.block__resto img {
  height: 150px;
  width: 368px;
  object-fit: cover;
  border-radius: 25px 25px 0px 0px;
  margin: 0px;
}
.block__resto .lieu_restaurant {
  font-weight: 100;
}

/*autre*/
.fa-mobile-alt {
  margin-left: 20px;
}

.fa-list {
  margin-left: 20px;
}

.fa-store {
  margin-left: 20px;
}

.lieu_restaurant {
  display: fex;
}

.fa-map-marker-alt {
  color: grey;
}

.fa-utensils {
  color: white;
}

.fa-hands-helping {
  color: white;
}

.block__resto a .fa-heart:hover {
  color: #9356DC;
}

.fa-heart {
  font-size: 25px;
  margin-right: 10px;
}

.btn-new {
  position: relative;
}

.new-1 {
  width: 50px;
  padding: 4%;
  position: absolute;
  z-index: 9997;
  right: 30px;
  background-color: #99E2D0;
  color: #3d796a;
  padding-left: 15px;
  padding-right: 30px;
  pointer-events: none;
}

.new-2 {
  padding: 4%;
  position: absolute;
  z-index: 9997;
  right: 30px;
  background-color: #99E2D0;
  color: #3d796a;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 80px;
  pointer-events: none;
}

.new-3 {
  display: none;
}

/*# sourceMappingURL=style.css.map */
